services:
  - type: static
    name: portfolio
    env: static
    buildCommand: rustup target add wasm32-unknown-unknown && cargo install trunk --locked && trunk build --release
    staticPublishPath: dist
