services:
  - type: web
    name: portfolio
    env: static
    plan: free
    buildCommand: |
      rustup target add wasm32-unknown-unknown
      cargo install trunk --locked
      trunk build --release
    staticPublishPath: dist
